/* Position and sizing of burger button */
.bm-burger-button {
    display: none;
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
  }
  .bm-burger-button button{
    outline: none;
  } 
   
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: var(--main-text-color);
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: var(--main-text-color);
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: var(--main-text-color);
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    padding: 2.5em 1.5em 0;
    font-size: 1.00em;
    overflow: hidden !important;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: var(--main-text-color);
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: var(--main-text-color);
    padding: 0.8em;
    background-color: var(--bg-main-color);
    opacity: 77%;
  }
  .bm-item-list a{
    text-decoration: none;
    color: var(--main-text-color);
    font-family: var(--main-font);
    outline: none;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  @media (max-width: 1124px){
    .bm-burger-button{
      display: block;
    }
  }