.aboutMe{
    display: flex;
    background-color: #282121;
    color: #F1F1F1;
    justify-content: space-around;
    height: 1000px;
}
.aboutMeText{
    width: 574px;
    height: 326px;
    padding-top: 350px;
}
.aboutMeImg{
    width: 460px;
    height: 540px;
    padding-top: 200px;
}