.gallery{
    background-color:  rgba(39, 33, 33, 1);
    padding-top: 160px;
    padding-bottom: 200px;
}
.container{
    max-width: 1360px;
    margin: auto;
}
.title{  
    max-width: 590px;
    height: 97px;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    margin: auto;
    color: #F1F1F1;
    padding-bottom: 77px;
}
.item{
    
}
.item__title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #F1F1F1;
    padding-top: 28px;
    padding-bottom: 12px;
}
.item__description{
    font-family: Noto Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 135%;
    color: #F1F1F1;
    left: 0%;
    right: 0%;
    top: -39.22%;
    bottom: 111.76%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #F1F1F1;
}
.image{
    width: 100%;
}
.itemArrow{
    display: inline !important;
    cursor: pointer;
}